.information {
  width: 45vw;
  border: 1px solid #222;
  margin-top: 20px;
  margin-left: 2.5vw;
}

.col-left {
  float: left;
}

.information h2 {
  background-color: #222;
  color: #4398AF;
  margin-top: 0;
  line-height: 1.8em;
}

.course-list {
  float: right;
  margin-right: 2.5vw;
  padding-bottom: 20px;
}

.course-list h2 {
  background-color: #4398AF;
  color: #222;
  margin-top: 0;
  line-height: 1.8em;
  border-bottom: 1px solid #222;
}

.course-panel {
  padding: 0 2vw;
  text-align: left;
}

.course-panel:not(:last-child) {
  padding-bottom: 20px;
}



.show-lessons-arrow {
  font-size: 0.8em;
  color: #222;
  text-align: center;
  margin-left: 7px;
  transform: translateY(-1px);
  transition: transform 0.10s;
}

.rotated-0:hover {
  transform: rotate(90deg);
}

.rotated-90 {
  transform: rotate(90deg);
}

.unfolded-course .lesson-list {
  display: block;
}

.lesson-list {
  list-style: none;
  display: none;
}

.lesson-list-item {
  list-style: none;
  padding: 0.3em 2vw;
  font-size: 0.8em;
  margin: 0;
}

.lesson-list-link {
  display: block;
}

.lesson-list-link:nth-child(odd) {
  background-color: rgba(67,152,175, 0.08);
}

.lesson-list-item:hover {
  background-color: rgba(67,152,175, 0.3);
}

@media only screen and (max-width: 758px) {
  .information, .course-list {
    width: 75vw;
    clear: both;
    margin: 20px auto;
    margin-right: auto;
    float: none;
  }

  .col-left {
    float: none;
  }
}